:root{
  --main-bg-color:#e5ded1;
  --main-point-color:#857357;
}

body {
  background-color: var(--main-bg-color);
}

.logo object {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.logoname {
  text-align: center;
  font-size: 30px;
}

.machine-manu{
  background-color: white;
  padding: 30px 27px 27px;
  width: 440px;
  height: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.coffee {
  margin-bottom: 12px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
  width: 94px;
  height: 160px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border: 3px solid transparent;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.price-button {
  width: 70px;
  text-align: center;
  background: var(--main-point-color);
  border-radius: 50px;
  font-weight: 500;
  font-size: 12px;
  color: white;
  border: none;
  padding: 6px;
  line-height: 100%;
  margin-top: 8px;
  cursor: pointer;
}

.price-button:active {
  box-shadow: 0 2px 0 var(--main-bg-color);
  transform: translateY(1px)
}

.caculate {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-money {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  display: block;
  width: 200px;
  height: 32px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #BDBDBD;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px;
  float: left;
}

.input-button {
  margin-bottom: 12px;
  float: right;
  width: 94px;
  height: 32px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.input-button:active {
  box-shadow: 0 2px 0.5 var(black);
  transform: translateY(1px)
}

.left-money-text {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 6px 10px 7px;
  width: 200px;
  background: var(--main-bg-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  float: left;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  justify-content: space-between;
}

.btn-copy{
  width: 150px;
  text-align: center;
  background: var(--main-point-color);
  border-radius: 50px;
  font-weight: 500;
  font-size: 12px;
  color: white;
  border: none;
  padding: 5px;
  line-height: 100%;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  height: 30px;
  text-align: center;
}

.btn-copy:active {
  box-shadow: 0 2px 0 var(--main-bg-color);
  transform: translateY(1px)
}